<!--Simple task #1: Show an alert with a nice message when button is clicked.-->
<div id="simple1">
    <button class="btn btn-primary" ng-click="alert()">Click Me</button>
</div>

<!--Simple task #2: Show typed message in an alert.-->
<div id="simple2>"
    <form>
        <textarea class="form-control" rows="3" placeholder="What's Happening?" ng-model="message"></textarea>
        <button class="btn btn-primary" ng-click="showMessage()">Submit</button>
    </form>
</div>

<!--Simple task #3 background change on hover.-->
<div 
    id="simple3" 
    ng-style="style"
    ng-mouseenter="style={'background-color': 'blue'}" 
    ng-mouseleave="style={}">
Hover over me to change my color.
</div>

<!--Simple task #4: text-color change on click.-->
<div id="simple4>"
    <p ng-click="changeColor()">
        Click this red text to change its color.
    </p>      
</div>

<!--Simple task #5: Add a button and an empty div. When the button is clicked, add a `span` that contains your name to the empty div.-->

<!--Simple task #6: Create a button and a `ul` in your HTML. In JavaScript, create an array containing the names of your friends 
(at least 10. If you don't have that many, include your imaginary ones). When the button is clicked, add each friend's name 
as an `li` to the `ul` on the page.-->